body {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.load-container {
  margin: 15rem auto 4rem auto;
  border-bottom: 1px solid #ccc; }
  .load-container__heading {
    margin-bottom: 1rem;
    text-transform: capitalize; }

.loader {
  visibility: hidden; }
  .loader--active {
    visibility: visible; }
    .loader--active .lds-roller {
      position: absolute;
      width: 64px;
      height: 64px;
      top: -.5rem;
      left: -8rem; }
    .loader--active .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 32px 32px; }
    .loader--active .lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #5f6263;
      margin: -3px 0 0 -3px; }
    .loader--active .lds-roller div:nth-child(1) {
      animation-delay: -0.036s; }
    .loader--active .lds-roller div:nth-child(1):after {
      top: 50px;
      left: 50px; }
    .loader--active .lds-roller div:nth-child(2) {
      animation-delay: -0.072s; }
    .loader--active .lds-roller div:nth-child(2):after {
      top: 54px;
      left: 45px; }
    .loader--active .lds-roller div:nth-child(3) {
      animation-delay: -0.108s; }
    .loader--active .lds-roller div:nth-child(3):after {
      top: 57px;
      left: 39px; }
    .loader--active .lds-roller div:nth-child(4) {
      animation-delay: -0.144s; }
    .loader--active .lds-roller div:nth-child(4):after {
      top: 58px;
      left: 32px; }
    .loader--active .lds-roller div:nth-child(5) {
      animation-delay: -0.18s; }
    .loader--active .lds-roller div:nth-child(5):after {
      top: 57px;
      left: 25px; }
    .loader--active .lds-roller div:nth-child(6) {
      animation-delay: -0.216s; }
    .loader--active .lds-roller div:nth-child(6):after {
      top: 54px;
      left: 19px; }
    .loader--active .lds-roller div:nth-child(7) {
      animation-delay: -0.252s; }
    .loader--active .lds-roller div:nth-child(7):after {
      top: 50px;
      left: 14px; }
    .loader--active .lds-roller div:nth-child(8) {
      animation-delay: -0.288s; }
    .loader--active .lds-roller div:nth-child(8):after {
      top: 45px;
      left: 10px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.card {
  padding: 3rem 3rem 1.2rem;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  margin-bottom: 4.5rem; }

.card-main__img {
  display: inline-block;
  height: 11rem;
  transform: translateY(-4.5rem); }

.card-main__branding {
  display: inline-block;
  margin-left: 3.5rem; }
  .card-main__branding--heading {
    margin-bottom: 1.5rem;
    color: #272b34; }
  .card-main__branding--rating {
    display: inline-block;
    transform: translateY(-1rem); }
    .card-main__branding--rating-star {
      display: inline; }
  .card-main__branding--features {
    display: inline-block;
    margin-left: 2.5rem; }
    .card-main__branding--features-icon {
      display: inline; }

.card-main__pricing {
  margin-bottom: .8rem; }
  .card-main__pricing--verified {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    color: #5c65ef;
    transform: translateY(-0.9rem); }
  .card-main__pricing--cost {
    display: inline-block;
    font-size: 4.5rem;
    padding: 0 1rem;
    color: #272b34; }
  .card-main__pricing--timeline {
    display: inline-block;
    font-size: 2.4rem;
    color: #959595;
    transform: translateY(-0.7rem); }

.card-secondary {
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-out; }
  .card-secondary--open {
    max-height: 400px; }
  .card-secondary__wrapper {
    margin: 1rem 2.5rem; }
  .card-secondary__header {
    position: relative;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 1.5rem; }
    .card-secondary__header--icon {
      position: absolute;
      font-size: 1.7rem;
      top: .5rem;
      color: #5f6263; }
    .card-secondary__header--heading {
      margin-left: 2.5rem;
      margin-bottom: 1.5rem;
      color: #5f6263;
      font-weight: 400; }
  .card-secondary__feature-list {
    font-size: 1.8rem;
    color: #959595;
    padding-left: 1.5rem; }
    .card-secondary__feature-list--item {
      padding: .4rem 0; }
  .card-secondary__description {
    font-size: 1.8rem;
    color: #959595; }
  .card-secondary__disclaimer {
    font-style: italic;
    font-size: 1.5rem;
    color: #959595; }

.cta {
  position: relative;
  border-radius: 3rem;
  padding: 1.2rem 4.5rem;
  font-size: 2.2rem;
  opacity: 1;
  color: #fff;
  border: none;
  transition: all .2s; }
  .cta__load {
    border: 2px solid #4AC2E2;
    color: #959595; }
    .cta__load:hover {
      background: #fafafa; }
  .cta__buy {
    background: linear-gradient(to bottom right, #f6a329, #f57823); }
  .cta__quote {
    background: linear-gradient(to bottom right, #2ab6e7, #487cec); }
  .cta__icon {
    font-size: 2.4rem; }
  .cta:hover {
    opacity: .85; }
  .cta:active, .cta:focus {
    outline: none; }

.header__heading-wrapper {
  display: table;
  min-height: 7rem; }

.header__heading {
  display: table-cell;
  vertical-align: middle;
  font-weight: 400;
  color: #272b34; }

.select-dropdown__label {
  font-size: 2rem;
  color: #959595;
  padding: 0 1.2rem;
  font-weight: 400; }

.select-dropdown__select {
  width: 15rem;
  height: 4rem;
  margin: 1.5rem 0; }

.sort-chevron:before {
  border-style: solid;
  border-width: 0.2em 0.2em 0 0;
  border-color: #959595;
  content: '';
  display: inline-block;
  height: 1.5rem;
  left: 50%;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 1.5rem;
  transition: all .3s; }

.sort-chevron:hover {
  cursor: pointer;
  opacity: .8; }

.sort-chevron--closed:before {
  transform: rotate(135deg); }

.wrapper-main {
  margin: 1.2rem; }
