$color-light-gray: #ccc;
$color-dark-gray: #5f6263;

$color-text-gray: #959595;
$color-text-black: #272b34;

$color-border-gray: #DBDBDB;

$margin-small: 1.5rem;
$margin-medium: 2.5rem;
$margin-large: 3.5rem;
$margin-xlarge: 4.5rem;